body {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #006E40 50%, #EFFDE3 50%);
}

.login-container {
    width: 100%;
    max-width: 1200px;
    height: 650px;
    display: flex;
    margin-left: 50px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px; /* Radius más pronunciado */
    overflow: hidden; /* Asegura que el contenido respete el border-radius */
}

.login-form {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F5F5EF;
    padding: 30px;
}

    .login-form h2 {
        margin-bottom: 20px;
    }

    .login-form .form-control {
        margin-bottom: 15px;
    }

.login-image {
    flex: 1;
    background: url('/logoacp.png') no-repeat center center;
    background-size: cover;
}



/* Loader animado */
.loader {
    border: 4px solid #f3f3f3; /* Gris claro */
    border-top: 4px solid #3498db; /* Azul */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

/* Animación de rotación */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Overlay de la pantalla */
#loader-overlay {
    visibility: hidden; /* Inicialmente oculto */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8); /* Fondo semi-transparente */
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}



